Options +FollowSymLinks
RewriteEngine on
RewriteCond %{REQUEST_URI} !^/media/
RewriteCond %{REQUEST_URI} !^/js/
RewriteCond %{REQUEST_URI} !^/player/
RewriteCond %{REQUEST_URI} !^/wiki/
RewriteRule ^([^/]*)/([^/]*)/$ /index.php?page=$1&param1=$2
RewriteCond %{REQUEST_URI} !^/media/
RewriteCond %{REQUEST_URI} !^/js/
RewriteCond %{REQUEST_URI} !^/player/
RewriteCond %{REQUEST_URI} !^/wiki/
RewriteRule ^([^/]*)/([^/]*)/([^/]*)$ /index.php?page=$1&param1=$2&param2=$3
RewriteCond %{REQUEST_URI} !^/media/
RewriteCond %{REQUEST_URI} !^/js/
RewriteCond %{REQUEST_URI} !^/player/
RewriteCond %{REQUEST_URI} !^/wiki/
RewriteRule ^([^/]*)/$ /index.php?page=$1
